<!DOCTYPE html>
<html>
<body>
	{% extends "layout.html" %}
	{% block content %}
	<div>
		<div>
			<div class="row">
				<div class="col-xs-12 text-left">
					<h3><label>All</label></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<button type="button" data-outletid="All" data-outletstatus="on" class="btn btn-lg btn-block btn-warning toggleOutlet mybutton">On</button>
				</div>
				<div class="col-xs-6">
					<button type="button" data-outletid="All" data-outletstatus="off" class="btn btn-lg btn-block btn-info toggleOutlet mybutton">Off</button>
				</div>
			</div>
		</div>
		{% for light in lightsList %}
		<div>
			<div class="row">
				<div class="col-xs-12 text-left">
					<h3><label>{{ light['name'] }}</label></h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6"> 
					<button type="button" data-outletid="{{ light['lightId'] }}" data-outletstatus="on" class="btn btn-lg btn-block btn-warning toggleOutlet mybutton">On</button>
				</div>
				<div class="col-xs-6">
					<button type="button" data-outletid="{{ light['lightId'] }}" data-outletstatus="off" class="btn btn-lg btn-block btn-info toggleOutlet mybutton">Off</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endblock %}
</body>
</html>
